name: CI/CD
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      DOCKERFILE:
        type: string
        default: Dockerfile
      ENV_TAG:
        type: string
        required: true
    secrets:
      GH_TOKEN:
        required: true

jobs:
  vault:
    uses: Ucode-io/ci-cd/.github/workflows/get_vault_secrets.yml@main
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  build:
    needs: vault
    uses: ./.github/workflows/build.yml
    with:
      DOCKERFILE: ${{ inputs.DOCKERFILE }}
      ENV_TAG: ${{ inputs.ENV_TAG }}
    secrets: inherit

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: downcase REPO
        run: |
          echo "OWNER=${GITHUB_REPOSITORY_OWNER,,}" >> ${GITHUB_ENV}

      - name: Set environment variables
        run: |
            echo "NEW_IMAGE=${{ secrets.REGISTRY }}/$OWNER/${{ github.event.repository.name }}:${{ github.run_number }}" >> $GITHUB_ENV
            echo "OLD_PATTERN=${{ secrets.REGISTRY }}/$OWNER/${{ github.event.repository.name }}:[a-zA-Z0-9_\\.\\-]*" >> $GITHUB_ENV
            echo "SERVICE_FILE=${{ secrets.SERVICE_FILE }}" >> $GITHUB_ENV
            echo "SERVICE_NAME=${{ secrets.SERVICE_NAME }}" >> $GITHUB_ENV

      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.HOST_PRIVATE_KEY }}

      - name: Pull new Docker image
        run: ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "sudo docker pull ${NEW_IMAGE}"

      - name: Update systemd service
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
            "sudo sed -i 's|${OLD_PATTERN}|${NEW_IMAGE}|g' ${SERVICE_FILE} && \
             sudo systemctl daemon-reload && \
             sudo systemctl restart ${SERVICE_NAME}"

