name: CI + CD
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      DOCKERFILE:
        type: string
        default: Dockerfile
      ENV_TAG:
        type: string
        required: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      DOCKERFILE: ${{ inputs.DOCKERFILE }}
      ENV_TAG: ${{ inputs.ENV_TAG }}
    secrets: inherit

  deploy:
    needs: [build]
    uses: ./.github/workflows/deploy.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit
