name: Vault Stage

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        type: string
        required: true
    secrets:
      VAULT_AUTH_PATH:
        required: true
      VAULT_AUTH_ROLE:
        required: true
      VAULT_ADDR:
        required: true
      VAULT_AUDIENCE:
        required: true

jobs:
  vault:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      # - name: Install dependencies
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y jq

      - name: Setup Vault CLI
        uses: eLco/setup-vault@v1
        with:
          vault_version: 1.15.0

      - name: Request OIDC Token
        run: |
          ID_TOKEN=$(curl -sSL -X GET "${ACTIONS_ID_TOKEN_REQUEST_URL}&audience=${{ secrets.VAULT_AUDIENCE }}" \
            -H "Authorization: Bearer ${ACTIONS_ID_TOKEN_REQUEST_TOKEN}" | jq -r '.value')
          echo "ID_TOKEN=${ID_TOKEN}" >> $GITHUB_ENV

      - name: Authenticate to Vault using GitHub OIDC
        env:
          VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
        run: |
          export VAULT_TOKEN=$(vault write -field=token \
            ${{ secrets.VAULT_AUTH_PATH }} \
            role=${{ secrets.VAULT_AUTH_ROLE }} \
            jwt=${ID_TOKEN})

          echo "::add-mask::$VAULT_TOKEN"
          echo "VAULT_TOKEN=${VAULT_TOKEN}" >> $GITHUB_ENV

      - name: Fetch secrets and build .env file
        env:
          VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
          SECRET_PATHS: ${{ inputs.ENVIRONMENT == 'production' && secrets.PROD_SECRET_PATHS || secrets.STAGING_SECRET_PATHS  }}
        run: |
          touch .env
          IFS=',' read -ra paths_array <<< "$SECRET_PATHS"
          for path in "${paths_array[@]}"; do
            output=$(vault kv get -mount=secret -format=json "$path")
            data=$(echo "$output" | jq -r '.data.data | to_entries[] | "\(.key)=\(.value)"')
            echo "$data" >> .env
          done

      - name: Upload .env as artifact
        uses: actions/upload-artifact@v4
        with:
          name: env-file
          path: .env
