name: CI/CD
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      DOCKERFILE:
        type: string
        default: Dockerfile
      ENV_TAG:
        type: string
        required: true
    secrets:
      PROD_POSTGRES_LINK:
        required: false
      PROD_PATH_MIGRATION:
        required: false
      STAGING_POSTGRES_LINK:
        required: false
      STAGING_PATH_MIGRATION:
        required: false

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      DOCKERFILE: ${{ inputs.DOCKERFILE }}
      ENV_TAG: ${{ inputs.ENV_TAG }}
    secrets: inherit

  migrate:
    needs: [build]
    uses: ./.github/workflows/migrate.yml
    secrets:
      POSTGRES_LINK: ${{ inputs.ENVIRONMENT == 'production' && secrets.PROD_POSTGRES_LINK || secrets.STAGING_POSTGRES_LINK }}
      PATH_MIGRATION: ${{ inputs.ENVIRONMENT == 'production' && secrets.PROD_PATH_MIGRATION || secrets.STAGING_PATH_MIGRATION }}

  deploy:
    needs: [deploy]
    uses: ./.github/workflows/deploy.yml
    secrets:
      CLUSTER: ${{ inputs.ENVIRONMENT == 'production' && 'cluster-prod' || 'cluster-dev' }}
      K8S_NAMESPACE: ${{ inputs.ENVIRONMENT == 'production' && 'ucode-prod' || 'ucode-test' }}
