name: CI/CD
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      DOCKERFILE:
        type: string
        default: Dockerfile
      ENV_TAG:
        type: string
        required: true
      NODE_OBJECT_BUILDER_TYPE:
        type: string
        required: true
    secrets:
      NODE_OBJECT_BUILDER_HIGH_PATH:
        required: true
      NODE_OBJECT_BUILDER_LOW_PATH:
        required: true
      GH_TOKEN:
        required: true


jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      DOCKERFILE: ${{ inputs.DOCKERFILE }}
      ENV_TAG: ${{ inputs.ENV_TAG }}
    secrets: inherit

  deploy:
    needs: [build]
    uses: ./.github/workflows/deploy_node_obj_builder.yml
    secrets:
      CLUSTER: ${{ inputs.ENVIRONMENT == 'production' && 'cluster-prod' || 'cluster-dev' }}
      K8S_NAMESPACE: ${{ inputs.ENVIRONMENT == 'production' && 'ucode-prod' || 'ucode-test' }}
      DEPLOYMENT_PATH: ${{ inputs.OBJECT_BUILDER_TYPE == 'high' && secrets.NODE_OBJECT_BUILDER_HIGH_PATH || secrets.NODE_OBJECT_BUILDER_LOW_PATH }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
